.Tooltip {
  .hint {
    text-align: center;
    width: 90vw;
    left: -200vw;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    z-index: 5;
    border-radius: 12px;
    color: #575757;
    font-weight: normal;
    line-height: 1.5;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
  }

  &:hover {
    .hint {
      visibility: visible;
      opacity: 1;
      left: 50%;
    }
  }
}
