@use './var.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-title-h1: #ffffff;
  --background-color: #cbdafa;
  --h1-border-color: #e2e2e2;
  --groove-border: 2px groove #e2e2e2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-title-h1: #929292;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #5a5a5a;
  background: url('/Images/black00001.gif');
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 95%;
  margin: 0 auto;
  // overflow: auto;
  background-color: #03182d;
  border-radius: 10px;
  border: thin groove #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 70vh;

  @media (max-width: $widthScreenForBurgerMenu) {
    display: block;
  }
}

.groove-border {
  border-bottom: var(--groove-border);
  border-top: 0;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.article {
  @include blockBorder;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  min-height: 75vh;
  padding: 0.7rem;
}

.article-text {
  flex: 1;
  padding: 2rem 1rem;
  color: #4b4a4a;
  font-size: 1.1rem;

  h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000099;
    text-shadow: 3px 3px 3px #cccccc;
    text-align: center;
    padding: 10px;
  }

  ul {
    margin-left: 2rem;
    list-style-image: url(/Images/galka_blue.png);
  }

  a {
    color: #0000cc;
    &:hover {
      color: red;
    }
  }
}

.thhead_small {
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
  color: #000099;
  text-align: left;
  text-shadow:
    1px 1px 0 #f9f9f9,
    3px 3px 3px #cccccc;
  font-weight: bolder;
}

.sidebar {
  flex: 1;
  padding: 0.5rem;
  transition: all 0.3s linear;

  @media (max-width: $widthScreenForBurgerMenu) {
    background-color: #051549;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 85%;
    max-width: 500px;
    min-width: 320px;
    z-index: 2;
  }
}

#toggle-sidebar:checked ~ main .sidebar {
  overflow-y: auto;
  left: 0;
  // display: none;
}

#toggle-sidebar:checked ~ header [for='toggle-sidebar'] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  text-shadow: none;
  border: none;
  background-color: #03182d41;
  z-index: 1;
}

.sidebar-widget {
  color: #cccccc;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin: 3px auto;
  text-shadow: 1px 1px 1px black;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(3, 18, 69, 1) 20%,
    rgba(12, 30, 86, 1) 50%,
    rgba(8, 14, 102, 1) 80%
  );
}

.grey_text {
  color: black;
  font-weight: bold;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 1),
    0 0 3px rgba(180, 180, 180, 0.7);
}

.left_chan {
  color: #a81246;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 1),
    0 0 2px rgba(255, 20, 75, 0.3);
}

.add_chan {
  color: #2e8b57;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 1),
    0 0 3px rgba(20, 255, 20, 0.5);
}
