.TextUnderH1 {
  color: #000085c2;
  font-size: 1.2rem;
  text-shadow: 0px 1px 1px #dddddd;
  padding: 6px 20px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 7px;
  box-shadow: #1e5799 0px 3px 6px;
  background: linear-gradient(
    to bottom,
    rgb(184, 225, 252) 0%,
    rgb(144, 186, 228) 25%,
    rgb(144, 191, 240) 50%,
    rgb(107, 168, 229) 51%,
    rgb(189, 243, 253) 100%
  );
}
