.TextUnderH1 {
  color: rgb(33 33 84);
  font-size: 1.2rem;
  text-shadow: 0px 1px 1px #ffffff;
  padding: 6px 20px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 7px;
  box-shadow: #1e5799 0px 3px 6px;
  background: linear-gradient(
    to bottom,
    rgb(144 191 240 / 34%) 50%,
    rgb(107 168 229 / 57%) 51%,
    rgb(189 243 253 / 36%) 100%
  );
}
