$gap: 0.5rem;

.BottomInfoPanel {
  background: linear-gradient(
    to bottom,
    rgb(30, 87, 153) 20%,
    rgb(2, 118, 214) 50%,
    rgb(30, 87, 153) 80%
  );
  color: #cccccc;
  font-family: Verdana, Tahoma, Arial, Sans-Serif;
  font-size: 0.7rem;
  padding: 0.3rem 1rem;
  display: flex;
  gap: $gap;
  // margin-top: auto;

  a {
    border-bottom: 1px groove #d3d2d2;
    transition: border-bottom 0.1s;

    &:hover {
      border-bottom: 2px groove #ffffff;
    }
  }

  .infoPanelItem {
    text-align: center;

    &.bordered {
      border-right: 1px solid #cccccc;
      padding-right: $gap;
    }
  }

  .itemValue {
    display: inline-block;
    color: #ffffff;
  }
}
