.inputWrapper {
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow:
    inset 0px 1px 1px white,
    0px 1px 3px rgba(0, 0, 0, 0.5);

  .inputField {
    border: 1px inset #cccccc;

    &::placeholder {
      border-left: 1px solid #e5e7eb;
    }
  }

  .cancelButton {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 50%;
      background-color: #ffffff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
