.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow:
    1px 1px 0px #fff,
    2px 2px 3px #999;
  color: #000099;
  font-weight: bold;
  padding: 1vh;
  text-align: center;
  font-size: 5vh;
  line-height: 1.4;

  @media screen and (orientation: portrait) {
    font-size: 5vw;
    flex-wrap: wrap;
  }
}
