.title {
  min-height: 50px;
  border-bottom: 3px double white;
  padding-bottom: 7px;
  font-size: 1.2em;
  font-weight: bold;
}

.titleLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.titleLink::before {
  content: url('/Images/last_news_55.png');
  width: 55px;
  height: 55px;
}

.listItem {
  border-bottom: 1px ridge #cccccc;
  padding: 5px 0;

  &::before {
    content: '▪ ';
    color: red;
    font-size: 1.2em;
  }
}
