.title {
  border-bottom: 3px double white;
}

.titleLink::before {
  content: url('/Images/last_news_55.png');
  width: 55px;
  height: 55px;
}

.listItem {
  border-bottom: 1px ridge #cccccc;

  &::before {
    content: '▪ ';
    color: red;
    font-size: 1.2em;
  }
}
