.accordionRadio:checked + .accordionItem .accordionLabel ~ .accordionContent {
  max-height: 700px;
  overflow-y: auto;
}

.accordionRadio:checked + .accordionItem .accordionLabel::after {
  transform: rotate(90deg);
}

.accordionRadio:checked + .accordionItem .closing {
  display: block;
}
