.tabInput,
.tabContent {
  display: none;
}

.tabContent {
  max-width: 95%;
}

.tabLabel {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #0d6efd;
  border: 0;
  border-radius: 0.375rem;
  background: 0 0;
}

#content-1:has(~ .tab-nav > #tab-1:checked),
#content-2:has(~ .tab-nav > #tab-2:checked),
#content-3:has(~ .tab-nav > #tab-3:checked) {
  display: block;
}

.tabInput:checked + label {
  cursor: default;
  color: #fff;
  background-color: #0d6efd;
}
