.responseBlock {
  opacity: 0;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1s ease forwards;

  @keyframes fadeIn {
    from {
      font-size: 0;
      opacity: 0;
    }
    to {
      font-size: 100%;
      opacity: 1;
    }
  }

  .articleName {
    color: #3c3f72;
    font-size: 1.1rem;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 1rem;
}
