@use '../../../var.scss' as *;

.CommentBlock {
  @include blockBorder;
  color: #ffffff;
  margin: 4px auto;
  padding: 10px;
  background: rgb(10, 46, 84);
  background: linear-gradient(
    to bottom,
    rgb(10, 46, 84) 0%,
    rgb(32, 124, 202) 45%,
    rgb(125, 185, 232) 100%
  );

  .commentBlockTitle {
    color: #ffffff;
    font-family: arial, verdana, helvetica, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-shadow: 1px 1px 0px black;
  }

  .commentsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    text-shadow: 2px 2px 0px black;
    font-size: 1.7rem;
    border-top: 4px double #cccccc;
    font-style: italic;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
  }

  .bansBlock {
    text-shadow: 1px 1px 0px black;
    padding: 0.5rem;
  }

  .commentContainer {
    font-family: arial, verdana, helvetica, sans-serif;
    font-weight: bold;
    border-top: 2px groove #777777;
    padding-bottom: 0.5rem;

    .commentDate,
    .commentAuthor {
      color: #cccccc;
    }

    .commentDate {
      font-size: 0.9rem;
      font-weight: normal;
    }
    .commentAuthor {
    }

    .commentText {
      text-shadow: 1px 1px 0px black;
      padding: 0.5rem;
    }
  }
}
