$labelHeight: 54px;

.Accordion {
  margin: 0 auto;
  padding: 1rem 0;
  color: #ffffff;

  input[type='radio'] {
    display: none;
  }
}

.accordionItem {
  position: relative;
}

.accordionLabel,
.titleWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: $labelHeight;
  background: linear-gradient(
    to bottom,
    rgba(27, 23, 81, 1) 0%,
    rgba(25, 24, 33, 1) 49%,
    rgba(56, 56, 96, 1) 67%,
    rgba(85, 89, 198, 1) 100%
  );
  border-top: #6d6aa0 1px solid;
}

.titleWrapper {
  padding: 10px;
}

.accordionLabel {
  justify-content: space-between;
  padding-right: 10px;
}

.accordionLabel.arrow {
  &::after {
    content: '';
    display: block;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordionRadio:checked + .accordionItem .accordionLabel ~ .accordionContent {
  max-height: 500px;
}

.accordionRadio:checked + .accordionItem .accordionLabel.arrow::after {
  transform: rotate(90deg);
}

.accordionRadio:checked + .accordionItem .closing {
  display: block;
}

.closing {
  position: absolute;
  height: $labelHeight;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.accordionContent {
  background-color: #999999;
  text-shadow:
    1px 1px 1px black,
    1px 1px 1px white;
}

.contentItem {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;

  &:hover {
    background-color: #5a6b98;
  }
}

.contentItemLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contentItemLink::before {
  content: url('/images/accordion/bulb2.png');
  width: 16px;
  height: 16px;
}
