.satTitleLink {
  &:hover {
    color: red;
  }
}

.SatChannelsTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;

  tr {
    border: 3px groove;
  }

  td,
  th {
    border: 2px groove;
    padding: 2px;

    .linkTV {
      color: #4261a3;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &:hover {
        color: #fff6ca;
        text-shadow:
          1px -1px 1px #36f,
          1px 1px 2px grey;
      }
    }

    .linkRadio {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      color: #545a69;
      font-size: 0.8rem;

      &:hover {
        color: #36f;
      }
    }
  }

  .tdCompression,
  .biss,
  .beam {
    font-size: 0.9rem;
  }

  .beam {
    color: #666666;
  }

  .tdChanLogo {
    line-height: 0;
  }

  .biss {
    background-color: #dad4c04d;
  }

  @media (width < 700px) {
    .tdCompression,
    .biss,
    .beam {
      font-size: 0.7rem;
    }
  }
}
