.goUpLink {
  font-size: 2rem;
  border-radius: 2rem;
  color: rgb(203, 218, 250);
  background-color: #a7a7a7;
  padding: 0.5rem;
  text-shadow: none;

  &:hover {
    color: #ffffff;
    background-color: rgb(255 0 0 / 37%);
  }
}
