$tooltipWidth: 140px;

.TooltipSimple {
  cursor: context-menu;

  &:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }

  &:hover .tooltipBottom {
    transform: translateX(-5vw);
  }
}

.tooltipText,
.tooltipBottom {
  max-width: 250px;
  background-color: rgb(63 89 175 / 90%);
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.2;
  text-shadow: none;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  z-index: 101;
}

.tooltipBottom {
  position: fixed;
  bottom: 3%;
  right: 0;
  transform: translateX(-100vw);
  transition: transform 0.6s;
}

.tooltipText {
  position: absolute;
  visibility: hidden;
  width: $tooltipWidth;
  background-color: #031245;
  bottom: 125%;
  left: 50%;
  margin-left: -$tooltipWidth / 2;
  opacity: 0;
  transition: opacity 0.6s;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}
