$fieldsetColor: rgb(119 119 119);
.FormDigestInterval {
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 1rem 1.5rem 1.5rem;
}

.selectsBlock {
  color: $fieldsetColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}
