.newsList {
  font-size: 1.25rem;
  line-height: 1.75rem;

  ul {
    list-style: none;
    padding-left: 1rem;

    li {
      display: flex;
      gap: 1rem;
      line-height: 1.75;
      align-items: center;

      &::before {
        font-size: 0.8rem;
        content: '📡';
      }
    }
  }
}
