$labelHeight: 54px;

.OnlinePlayerTabs {
  position: relative;
  padding-top: 2.7rem;

  input[type='radio'] {
    display: none;
  }
}

.tabItem {
  list-style: none;
}

.tabLabel {
  position: absolute;
  top: 0;
  max-width: 7rem;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 1px -1px 0;
  padding: 0.5rem;
  color: #777;
  cursor: pointer;
  background: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #f9f9f9;
  border-radius: 2px 15px 0 0;

  &:hover {
    color: #f70;
    background: #ffffdf;
    border: 1px solid #ffca95;
  }
}

.tabRadio:checked + .tabItem .tabLabel {
  color: #fff;
  background: #006;
  border: 1px solid #d4d4d4;
  border-bottom: 2px solid #f00;
}

.tabContent {
  //   max-height: 0;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.tabRadio:checked + .tabItem .tabLabel ~ .tabContent {
  //   max-height: 500px;
  display: block;
}
