.goButton {
  transform: translate(-50%, -50%);
  touch-action: manipulation;

  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    top: -2px;
    left: -2px;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-goButton 20s linear infinite;
  }

  @keyframes glowing-goButton {
    0%,
    100% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
  }
}
