.titleBlock {
  padding: 0.1rem 0;
}

.timePast,
.timeNow,
.timeFuture {
  font-weight: bold;
  padding: 0 5px;
}

.timePast {
  color: #71a6c3;
}

.timeFuture {
  color: #373784;
}

.timeNow {
  border-radius: 5px 5px 1px;
  background: none repeat scroll 0 0 #000099;
  color: #fff;
  text-shadow: 0 -1px #444444;
}

.titlePast,
.titleNow,
.titleFuture {
  padding-left: 10px;
  overflow: hidden;
}

.titlePast {
  color: grey;
}

.titleNow {
  font-weight: bold;
  color: #373784;
}

.titleFuture {
  color: #111111;
}

.tvProgDescription {
  cursor: pointer;
  margin-left: 3rem;
  border-left: solid #7ba5ce;
  font-size: 0.95rem;
  color: #0c3a67;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.5em;
  transition: max-height 0.5s ease-in-out;

  &:hover {
    background: #f0f0f0;
    white-space: normal;
    max-height: 1000px;
  }
}
